node_modules/
dist/
build/
.astro/
.env
.env.*
!.env.example

# Testing Outputs
test-results/
playwright-report/
playwright/.cache/
blob-report/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS specific files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?