# Node
node_modules/
npm-debug.log
package-lock.json # (Nur falls du yarn oder pnpm nutzt, ansonsten drinnen lassen!)

# Astro
dist/
.astro/

# Playwright & Testing
test-results/
playwright-report/
playwright/.cache/
blob-report/

# Environment Variables
.env
.env.*
!.env.example # Best Practice: Eine leere Vorlage darf (und sollte) ins Repo

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/